* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
/* common style */
.common-container {
  max-width: 1200px;
  margin: 0 auto;
}
.common-button {
  background-color: #1d4ed8;
  padding: 10px 28px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: 700;
}

/* navigation bar style */

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 50px;
  border: 1px solid #0000000F;
}
.nav-container img {
  height: 45px;
  width: auto;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 18px;
}

nav ul a {
  text-decoration: none;
  color: #575757;
  font-size: 16px;
  font-weight: 400px;
}

nav ul li {
  padding: 5px 12px;
}
nav ul li:hover {
  background-color: #d1d0d0;
}

/* hero section style */
.hero-image {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/banner.jpg");
  height: 90vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-container{
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero-text {
  padding-top: 16%;
  display: grid;
  gap: 15px;
 
}
.hero-text h2{
  color:#ffffffFF;
  font-size: 52px;
  font-weight: 700;
}
.hero-text p{
  max-width: 600px;
  margin: 0 auto;
 color: white;
  font-size: 14px;
  font-weight: 250px;
  padding-left: 40px;
  padding-right: 40px;
}
.hero-button{
  padding-bottom: 10%;
}


